<div class="worldbuilding chat-card attack-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}} 
     {{#if data.spellFactors}} data-arcanum="{{data.arcanum}}" data-level="{{data.level}}" data-practice="{{data.practice}}" data-primFactor="{{data.primaryFactor}}" data-withstand="{{data.withstand}}" data-img="{{item.img}}" {{/if}}>

  
  <div class="card-header">
    {{#if data.spellFactors}}
    <div class="flexrow"> 
      <button data-action="addActiveSpell" class="button stoneButton imprSpell"> Add to Active Spells </button>
    </div>
    {{/if}}
    <div class="flexrow">
      <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
      <h3 class="item-name">{{item.name}}</h3>
    </div>
    <div class="card-description">
      {{{data.description}}}
    </div>
  </div>
  

  <div class="card-content">
    {{#if data.information}}
      {{#each data.information}}
        <div class="information-line"> {{name}}: {{value}} </div>
      {{/each}}
    {{/if}}

    {{#if data.spellFactors}}
    <ul class="spell-factors">
      {{#each data.spellFactors}}
      <li data-advanced="{{advanced}}"> {{name}}: {{value}} {{advString}} </li>
      {{/each}}
    </ul>
    {{/if}}
    
    {{#each data.rolls}}
    <div class="item-roll"> 
      <h4> {{title}} </h4>
      {{{html}}}
    </div>
      
    {{/each}}
  </div>

  

  <div class="card-buttons">
    <!-- {{#if isSpell}}<button data-action="setActive"> Add to active spells </button>{{/if}} -->
  </div>

  {{#if data.modifiers}}
    <footer class="card-footer">
      {{#each data.modifiers}}
        <span>{{this}}</span>
      {{/each}}
    </footer>
  {{/if}}

</div>